<a class="content_over_link" href="<%= picture_path(picture) %>">
  <div class="content">
    <section class="content__top" style="background-image: url('<%= picture.image %>')">
    </section>
    <section class="content__btm">
      <div class="content__btm__title"><%= picture.title %></div>
      <p class="content__btm__detail"><%= picture.detail %></p>
      <div class="content__btm__user">
        <div class="content__btm__user__name"><%= picture.user_name %></div>
      </div>
    </section>
  </div>
</a>
