<div class="show_box">
  <div class="show">
    <div class="show__picture">
      <img src="<%= @picture.image %>" width="620px" height="430px;">
    </div>
    <div class="show__user">
      <div class="show__user__title"><%= @picture.title %></div>
      <div class="show__user__name"><%= @picture.user_name %></div>
      <div class="show__user__time"><%= @picture.created_at.strftime("%Y-%m") %></div>
    </div>
    <div class="show__detail"><%= @picture.detail %></div>
    <div class="twitter">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
